<p>cadastro works!</p>

<!--
    f é uma variável local (o # é utilizado para criar variáveis locas)
    a variável f faz referência ao formulário
    como um todo, por isso está associada à diretiva ngForm 
    o ngSubmit é um evento, que aciona o método que recebe como entrada os valores do formulário através da variável f, quando o botão salvar é clicado
-->
<form #f="ngForm" (ngSubmit)="saveContato(f.value)">


    <!--a diretiva ngModel é utilizada para associar cada campo de imput com um campo de valor no formulário-->
    <input type="text" ngModel name="nome" #n="ngModel" placeholder="informe um nome" required minlength="5" maxlength="12" />
    <div *ngIf="n.invalid">
        <div *ngIf="n.errors?.['required']">
            informa um nome
        </div>
        <div *ngIf="n.errors?.['minlength']">
            tem que ter no mínimo 4 caracteres
        </div>
        <div *ngIf="n.errors?.['maxlength']">
            nome grande demais
        </div>
    </div>

    <input type="number" ngModel name="idade" #i="ngModel" placeholder="informe a idade" required />
    <div *ngIf="i.value < 18">
        precisa ter 18 ou mais
    </div>

    <input type="email" ngModel name="email" placeholder="digita teu email" />

    <input type="password" ngModel name="senha" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">

    <button>Salvar</button>
    <label>{{ msg }}</label>
    <label>{{n.errors | json}}</label>

</form>

<!--<table>
    <tr>
        <th>nome</th>
        <th>idade</th>
        <th>email</th>
    </tr>
    <tr *ngFor = "let cont of contatos">
        <td> {{ cont.nome }} </td>
        <td> {{ cont.idade }} </td>
        <td> {{ cont.email }} </td>
    </tr>
</table>-->